﻿@{
	ViewBag.Title = "About";
}

<!DOCTYPE html>
<html>
<head>
	<title>Quiz1</title>
	<link rel="stylesheet" href="~/Content/style.css" />
	<script type="text/javascript" src="~/Scripts/code.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
	<script type="text/javascript">
		$(document).OnReady(authenticate());
	</script>
	<div id="Head">
		<div class="Title">
			<h1>Quiz</h1>
		</div>
	</div>
	<div id="Visual">
	</div>
	<div>
		<h4 id="vraag">click op volgende vraag om te beginnen </h4>
		<br>
		<a id="imgQ"></a>
		<br>
		<ul id="Buttons"></ul>
		<br>
		<button onclick="Click(0)" id="Next">Volgende vraag</button>
	</div>
	<div>
		<a id="Link" href="Index">back</a>
	</div>
</body>
</html>