﻿@{
    ViewBag.Title = "Lobby";
}
<head>
    <title>Quiz1</title>
    <link rel="stylesheet" href="~/Content/style.css" />
    <script type="text/javascript" src="~/Scripts/code.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<h3>Spelers:</h3>
<script type="text/javascript">
    document.write(lobby.player1.name);
    document.write("<br>");
    document.write("PlayerID: " + lobby.player1.playerID);
    document.write("<br><br>");
    document.write(lobby.player2.name);
    document.write("<br>");
    document.write("PlayerID: " + lobby.player2.playerID);
    document.write("<br><br>");
    document.write(lobby.player3.name);
    document.write("<br>");
    document.write("PlayerID: " + lobby.player3.playerID);
    document.write("<br>");
</script>
