﻿@{
	ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
	<title>Infoland</title>
	<link rel="stylesheet" href="~/Content/style.css" />
	<script type="text/javascript" src="~/Scripts/code.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body onload="OnLoad()">
    <div id="Head">
        <div class="Title">
            <h1>Infoland</h1>
        </div>
    </div>
    <div>
        <div>
            <p>Dit zijn de quizes</p>
            <button onclick="AddQuizes()" id="Addquiz">click</button>
        </div>
        <div>
            <ul id="Quizes"></ul>
        </div>
    </div>

    <!--HREF vervangen door een functie-->
    <button class="lobbyButton"><a href ="/Lobby">Create Lobby</button>
</body>
</html>